@model S2Dent.ViewModels.CreateDoctorFormModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Create";
}

<h1>@Localizer["Title"]</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-controller="Doctors" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Doctor.FirstName" class="control-label">@Localizer["FirstName"]</label>
                <input asp-for="@Model.Doctor.FirstName" class="form-control" />
                <span asp-validation-for="@Model.Doctor.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Doctor.MiddleName" class="control-label">@Localizer["MiddleName"]</label>
                <input asp-for="@Model.Doctor.MiddleName" class="form-control" />
                <span asp-validation-for="@Model.Doctor.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Doctor.ThirdName" class="control-label">@Localizer["LastName"]</label>
                <input asp-for="@Model.Doctor.ThirdName" class="form-control" />
                <span asp-validation-for="@Model.Doctor.ThirdName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Doctor.SpecialityId" class="control-label">@Localizer["Speciality"]</label>
                <select asp-for="@Model.Doctor.SpecialityId" class="form-control">
                    @foreach (var speciality in Model.Specialities)
                    {
                        <option value="@speciality.Id">@speciality.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Doctor.Description" class="control-label">@Localizer["Description"]</label>
                <textarea asp-for="@Model.Doctor.Description" cols="10" class="form-control"></textarea>
                <span asp-validation-for="@Model.Doctor.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Doctor.PhoneNumber" class="control-label">@Localizer["PhoneNumber"]</label>
                <input asp-for="@Model.Doctor.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.Doctor.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Doctor.Email" class="control-label">@Localizer["Email"]</label>
                <input asp-for="@Model.Doctor.Email" class="form-control" />
                <span asp-validation-for="@Model.Doctor.Email" class="text-danger"></span>
            </div>
            <div class="custom-file">
                <input asp-for="@Model.Doctor.ProfilePicture" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">@Localizer["Picture"]</label>
                <span asp-validation-for="@Model.Doctor.ProfilePicture" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value=@Localizer["Create"] class="btn btn-primary mx-auto col-sm-3" />
            </div>
        </form>
    </div>
</div>

<div class="container">
    <a class="btn btn-outline-primary" asp-controller="Doctors" asp-action="Doctors">@Localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
