@model S2Dent.ViewModels.CreateDoctorFormModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DoctorInputModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Doctor.FirstName" class="control-label"></label>
                <input asp-for="@Model.Doctor.FirstName" class="form-control" />
                <span asp-validation-for="@Model.Doctor.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Doctor.MiddleName" class="control-label"></label>
                <input asp-for="@Model.Doctor.MiddleName" class="form-control" />
                <span asp-validation-for="@Model.Doctor.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Doctor.ThirdName" class="control-label"></label>
                <input asp-for="@Model.Doctor.ThirdName" class="form-control" />
                <span asp-validation-for="@Model.Doctor.ThirdName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Doctor.SpecialityId" class="control-label">@Localizer["Speciality"]</label>
                <select asp-for="@Model.Doctor.SpecialityId" class="form-control">
                    @foreach (var speciality in Model.Specialities)
                    {
                        <option value="@speciality.Id">@speciality.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Doctor.Description" class="control-label"></label>
                <input asp-for="@Model.Doctor.Description" class="form-control" />
                <span asp-validation-for="@Model.Doctor.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Doctor.PhoneNumber" class="control-label"></label>
                <input asp-for="@Model.Doctor.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.Doctor.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Doctor.Email" class="control-label"></label>
                <input asp-for="@Model.Doctor.Email" class="form-control" />
                <span asp-validation-for="@Model.Doctor.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
