@model IEnumerable<S2Dent.ViewModels.ViewModels.NewsViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = "View";
}

<h1 class="text-center my-3 py-md-5">@Localizer["List"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Date"]
            </th>
            <th>
                @Localizer["Picture"]
            </th>
            <th>
                @Localizer["Id"]
            </th>
            <th>
                @Localizer["TitleBg"]
            </th>
            <th>
                @Localizer["TitleEn"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.PictureUrl</td>
                <td>@item.TitleInBulgarian</td>
                <td>@item.TitleInEnglish</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn alert-primary">@Localizer["Create"]</a>
</p>
