@model S2Dent.ViewModels.InputModels.NewsInputModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">@Localizer["Create"]</h1>

<hr />
<div class="row col-md-12">
    <div class="col-md-6 offset-3">
        <form asp-action="CreateNews">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TitleInBulgarian" class="control-label">@Localizer["TitleBg"]</label>
                <input asp-for="TitleInBulgarian" class="form-control" />
                <span asp-validation-for="TitleInBulgarian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleInEnglish" class="control-label">@Localizer["TitleEn"]</label>
                <input asp-for="TitleInEnglish" class="form-control" />
                <span asp-validation-for="TitleInEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionInBulgarian" class="control-label">@Localizer["DescriptionBg"]</label>
                <input asp-for="DescriptionInBulgarian" class="form-control" />
                <span asp-validation-for="DescriptionInBulgarian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionInEnglish" class="control-label">@Localizer["DescriptionEn"]</label>
                <input asp-for="DescriptionInEnglish" class="form-control" />
                <span asp-validation-for="DescriptionInEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentInBulgarian" class="control-label">@Localizer["ContentBg"]</label>
                <textarea asp-for="ContentInBulgarian" class="form-control" rows="10" cols="20"></textarea>
                <span asp-validation-for="ContentInBulgarian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentInEnglish" class="control-label">@Localizer["ContentEn"]</label>
                <textarea asp-for="ContentInEnglish" class="form-control" rows="10" cols="20"></textarea>
                <span asp-validation-for="ContentInEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">@Localizer["Date"]</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureUrl" class="control-label">@Localizer["Picture"]</label>
                <input asp-for="PictureUrl" class="form-control" />
                <span asp-validation-for="PictureUrl" class="text-danger"></span>
            </div>
            <div class="form-group align-content-md-between">
                <input type="submit" value=@Localizer["CreateBtn"] class="btn btn-success" />
                <a asp-action="All" class="btn btn-info">@Localizer["BackBtn"]</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
